<header>
    <h1>Popular movies</h1>>
</header>

<!-- Here I can write movies as {{movie.title}} etc
if I have made an interface and then imported the interface 
and declared a movie as a Movie object and then set values -->

<main class="movies-container">
    <div class="row">
        <div *ngFor="let movie of movies" class="col-sm" >
            <h2>{{movie.title}}</h2>
            <h3>{{movie.vote_average}}</h3>
            <p>{{movie.release_date}}</p>
            <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{movie.poster_path}}"/>
        </div>
    </div>
</main>