<header>
  <h1>Popular movies</h1>
</header>
<p>Search for movies: </p>
<input #searchBox id="search-box" [(ngModel)]="searchTerm"/>

<main class="movies-container">
  <div class="row">
    <div
      *ngFor="let movie of movies | search:'title,vote_average':searchTerm"
      class="movie"
      routerLink="/detail/{{ movie.id }}">
      <h3>{{ movie.title }}</h3>
      <h3>{{ movie.vote_average }}</h3>
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{movie.poster_path}}"
      />
      <p>{{movie.cast}}</p>
    </div>
  </div>
</main>
